.header {
    // position: relative;
    // z-index: 1;  

 nav {
     padding: 24px;
 }
     
 &__logo {
    img {

    }
 }

 &__menu {  // Mobile Menu

    > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $blue;

      &:not(:last-child){
        margin-bottom: 3px;
      }
    }
  }

 &__links {

  a {
    font-size: $font-med;
    color: white;
  }
 }

 &__cta {
   font-size: $font-sm;
   color: white;
 }



}
    // position: absolute;
    // width: calc(100% - 3rem);
    // left: 50%;
    // transform: translateX(-50%);
    // background: $white;
    // margin-top: 1.5rem;
    // padding: 1.625rem;
    // border-radius: 5px;
    // a {
    //   display: block;
    //   padding: 0.625rem;
    //   color: $darkBlue;
    //   text-align: center;
    // }
