.presentation {
    background-color: $lightGray;
    
    h1 {
     text-align: center;
    }

    .container {
        
      .button {
        z-index: 5;
        display:inline-block;
        padding:0.5em 3em;
        border:0.16em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration:none;
        text-transform:uppercase;
        font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
        background-color: black;
        width: 19%;

        a {
          display: block;
          color: $purple;
          padding: 0.5rem;
          text-align: center;
        }

        &:hover {
          color: black;
          background-color: white;
      }
  
      @include breakpoint-up(large){    
        display: flex;
        align-items: center;
      }
    }
  
  
    .presentation__text {
      align-items: center;
      display: flex;  
      margin: 0 20%;
      }

    .container_text {
      width: 500px;
    }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 0;
        padding: 0;
      }
  
      @include breakpoint-up(large){
        flex: 2;
        order: 1;
        text-align: left;
      }
  }
}




  
