.presentation {
    background-color: $lightGray;

    .container {
  
      @include breakpoint-up(large){    
        display: flex;
        align-items: center;
      }
    }
  
  
    &__text {
      text-align: center;

      a {
        display: block;
        color: $purple;
        padding: 0.5rem;
        text-align: center;
      }

      img {
          width: 100%;
      }

      .button {
        z-index: 5;
        display:inline-block;
        padding:0.5em 3em;
        border:0.16em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration:none;
        text-transform:uppercase;
        font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;

        &:hover {
            color: black;
            background-color: white;
        }
      }
  
      @include breakpoint-up(large){
        flex: 2;
        order: 1;
        text-align: left;
      }
  }
}




  
