// Colors
$orange: #F9B11C;
$red: #C8475B;
$blue: #006DB4;
$green: #05A74B;
$purple: #6853A3;
$lightGray: rgb(165, 158, 158);
$darkGray: rgb(73, 71, 71);

// Font Sizes
$font-sm: 1rem;
$font-med: 1.2rem;
$font-bg: 2rem;
