@charset "UTF-8";
.faded {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #6853A3;
  line-height: 1.5;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.5rem 1.8rem;
  border: 0;
  background: -webkit-gradient(linear, left top, right top, from(#05A74B), to(#006DB4));
  background: linear-gradient(to right, #05A74B, #006DB4);
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006DB4), to(transparent));
  background-image: linear-gradient(#006DB4, transparent);
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__logo img {
  width: 8.8rem;
  height: 2rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #006DB4;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__toggle.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__toggle.open > span:nth-child(2) {
  opacity: 0;
}

.header__toggle.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu {
  position: absolute;
  width: calc(100% - 7rem);
  left: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 1.5rem;
  border-radius: 3px;
}

.header__menu a {
  display: block;
  color: #6853A3;
  padding: 0.5rem;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.2rem;
  color: #a59e9e;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#006DB4), to(#05A74B));
  background: linear-gradient(to right, #006DB4, #05A74B);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #494747;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__cta {
  font-size: 1.2rem;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta:hover {
  opacity: 0.75;
}

* {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider input:nth-child(1):checked ~ .slides {
  left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
  left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
  left: -200%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3) {
  display: block;
}

.slider input:nth-child(1):checked ~ .dots label:nth-child(1),
.slider input:nth-child(2):checked ~ .dots label:nth-child(2),
.slider input:nth-child(3):checked ~ .dots label:nth-child(3) {
  background-color: black;
  border: 2px solid white;
}

.slider.dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
}

.slider.dots label {
  display: inline-block;
  border-radius: 100%;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  background-color: white;
}

.slider.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-size: 60px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.slider.arrows.arrow-left {
  left: 3%;
}

.slider.arrows.arrow-right {
  right: 3%;
}

.slider.arrows:hover {
  color: black;
  text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}

.slider.arrows label {
  display: none;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.slide {
  width: 33.33%;
  height: 100%;
  float: left;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-data {
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 20%;
}

.slide-data h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 30px;
}

.slide-data p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.slide-data button {
  padding: 10px 25px;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  background: transparent;
  outline: none;
  font-size: 25px;
  font-weight: bolder;
}

.slide-data button:hover {
  color: black;
  background-color: white;
}

.slide-1 {
  background-image: url(/assets/images/Slide_Header/Slide_Animalier/Slide-baleine.jpg);
}

.slide-2 {
  background-image: url(/assets/images/Slide_Header/Slide_Environnement/SLIDE-environnement.jpg);
}

.slide-3 {
  background-image: url(/assets/images/Slide_Header/Slide_Humanitaire/SLIDE-humanitaire.jpg);
}

.slide-4 {
  background-image: url(/assets/images/Slide_Header/Slide_Ligue/Slide-Ligue.jpg);
}

.slide-5 {
  background-image: url(/assets/images/Slide_Header/Slide_Notre_Philosophie/Slide-MARTIN-LK.jpg);
}

.slide-6 {
  background-image: url(/assets/images/Slide_Header/Slide_Notre_Réseau/Slide-Notre-réseau.jpg);
}

.slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */